<div class="border border-sold-border-blue-500 p-2 m-2">
  <div class="p-2">UiTabs: {{@name}}</div>
  <button
    type="button"
    class="border border-solid border-black bg-blue-500 text-white p-2 m-2"
    {{on 'click' this.selectFirstTab}}>
      Select first tab
  </button>

  {{#let (hash
    ui=(hash
      tab=(component "ui-tabs/tab"
        registerTab=this.registerTab
        getTabMachine=this.getTabMachine
      )
      content=(component this.tabContextState.context.selectedTabContentComponent)
      routableTabs=(component "ui-tabs/routable-tabs"
        tabContextId=@name
        routableTabs=this.routableTabs
        registerTab=this.registerTab
        getTabMachine=this.getTabMachine
      )
    )
    state=(hash
      name=@name
      isArchived=this.tabContextState.isArchived
      isActive=this.tabContextState.isActive
      selectedTabId=this.tabContextState.context.selectedTabId
    )
    actions=(hash
      registerTab=this.registerTab
      closeTab=this.closeTab
    )
    ) as |uiTabs|}}

    {{yield uiTabs}}
  {{/let}}
</div>
